{% extends '../pages/index.html' %}
{% load static %}
{% block all_courses %}{% endblock %}
{% block main_body %}
    <div class="course_container p-4 ml-4 mr-4">
        <h1 class="font-weight-bold" style="color: #1C344A  ;font-size:50px;">{{course.course_name}}</h1>
        <hr>
        <div class="d-flex justify-content-around pt-4 pb-4">
            <img src="{{course.course_image.url}}" alt="{{course.course_image}}" width="500"> 
            <p class="pl-4 pr-4">{{course.description}}</p>
        </div>
        <hr>
    </div>
    <div class="text-center pt-4">
        <video width="750" controls>
            <source src="{{course.video.url }}" type="video/mp4">
        </video>
    </div>
{% endblock %}
{% block comment %}
    <hr class="m-4 p-4">
    <h1 class="font-weight-bold text-center" style="color: #1C344A  ;font-size:30px;">Comment Section</h1>
    {% for i in comments %}
        <div class="d-flex justify-content-center">
            <div class="card m-4" style="width: 60rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #C70039  ;font-size:20px;"><b>{{i.username}}</b></h5>
                    <p class="card-text">{{i.description}}</p>   
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="text-center p-4 m-4">
        <a href="{% url 'comment' pk=course.pk %}" class="btn btn-secondary"><b>Add Your Comment Here</b></a>
    </div>
{% endblock %}
